<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<title>Spring Boot keycloak integration example</title>

<style>
.banner {
	font-size: 2.7rem;
	margin: 0;
	padding: 2rem 1rem;
	background-color: #00A1E2;
	color: white;
}
</style>
<head>
<body>


	
	<div class="banner lead">Cloud-Native Spring Boot application secured with KeyCloak is ready !!!</div>

<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav w-100">
    
    <li class="nav-item ">
      <a class="nav-link" href="/account-list">Accounts</a>
    </li>
    <li class="nav-item dropdown ml-auto">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    
  </ul>
</nav>



<div class="jumbotron">
  <h1>User Accounts Management</h1>
  <p>Clicking the Account nav will redirect you to our identity server and only authorized user will be allowed to proceed.</p>
</div>


	<div class="text-center ">
		<h3>Connect us :</h3>
		<p>
			For support or any questions: <br></br>Email @ <a
				href="mailto:ghatak.20@gmail.com" target="_blank">ghatak.20@gmail.com</a>
		</p>
	</div>
</body>
</html>
